body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

h2, h3 {
    color: #00bfff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #444;
}

tr:hover {
    background-color: #555;
}

p {
    margin: 10px 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
